@model mrs.ApplicationCore.Entities.SeatReservation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Otkazivanje</h2>

<h3>Jeste li sigurni da zelite da otkazete rezervaciju?</h3>
<div>
    <h4>SeatReservation</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.IsReserved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReserved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>*@
        @*<dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Screening.Projection.ProjectionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screening.Projection.ProjectionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Screening.ScreenStartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Screening.ScreenStartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seat.SeatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat.SeatNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Otkazi" class="btn btn-default" /> |
        <a asp-action="Index">Nazad</a>
    </form>
</div>
