@model mrs.ViewModels.Reservation.ReservationItemViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h4>SeatReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CultureObjectName" class="control-label"></label>
                <select asp-for="CultureObjectId" id="CultureObjectId" class="form-control"
                        asp-items="@Model.MoviesList"></select>
            </div>
            <div class="form-group">
                <label asp-for="CultureObjectHallName" class="control-label"></label>
                <select asp-for="CultureObjectHallId" class="form-control" id="CultureObjectHallId"
                        asp-items="@(new SelectList(string.Empty, "CultureObjectHallId", "CultureObjectHallName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectionName" class="control-label"></label>
                <select asp-for="ProjectionId" class="form-control" id="ProjectionId"
                        asp-items="@Model.ProjectionList"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScreeningStartDateTime" class="control-label"></label>
                <select asp-for="ScreeningId" class="form-control" id="ScreeningId"
                        asp-items="@(new SelectList(string.Empty, "ScreeningId", "ScreeningStartDateTime"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="HallSegmentName" class="control-label"></label>
                <select asp-for="HallSegmentId" class="form-control" id="HallSegmentId"
                        asp-items="@(new SelectList(string.Empty, "HallSegmentId", "HallSegmentName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <select asp-for="SeatId" class="form-control" id="SeatId"
                        asp-items="@(new SelectList(string.Empty, "SeatId", "SeatNumber"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" asp-controller="Reservation" asp-action="Reservate" value="Reservate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <a asp-area="" asp-controller="Home" asp-action="Profil">Nazad na profil</a>
</div>
<br />
<div class="form-group">
    <a asp-area="" asp-controller="Home" asp-action="Logout">Odjava</a>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#CultureObjectId').change(function () {
            var url = '@Url.Content("~/")' + "Reservation/GetCultureObjectHall";
            var ddlsource = "#CultureObjectId";
            $.getJSON(url, { CultureObjectId: $(ddlsource).val(), async: false }, function (data) {

                var items = '';

                $("#CultureObjectHallId").empty();
                $.each(data, function (i, hallList) {
                    items += "<option value='" + hallList.value + "'>" + hallList.text + "</option>";
                });
                $('#CultureObjectHallId').html(items);
            });
        });
        $('#ProjectionId').change(function () {
            var url = '@Url.Content("~/")' + "Reservation/GetSDT";
            var ddlsourceC = "#CultureObjectHallId";
            var ddlsourceP = "#ProjectionId";
            $.getJSON(url, { CultureObjectHallId: $(ddlsourceC).val(),ProjectionId: $(ddlsourceP).val(), async: false }, function (data) {

                var items = '';

                $("#ScreeningId").empty();
                $.each(data, function (i, sdtList) {
                    items += "<option value='" + sdtList.value + "'>" + sdtList.text + "</option>";
                });
                $('#ScreeningId').html(items);
            });
        });
        $('#CultureObjectHallId').change(function () {
            var url = '@Url.Content("~/")' + "Reservation/GetHallSegment";
            var ddlsource = "#CultureObjectHallId";
            $.getJSON(url, { CultureObjectHallId: $(ddlsource).val(), async: false }, function (data) {

                var items = '';

                $("#HallSegmentId").empty();
                $.each(data, function (i, hs) {
                    items += "<option value='" + hs.value + "'>" + hs.text + "</option>";
                });
                $('#HallSegmentId').html(items);
            });
        });
        $('#HallSegmentId').change(function () {
            var url = '@Url.Content("~/")' + "Reservation/GetSeats";
            var ddlsource = "#HallSegmentId";
            $.getJSON(url, { HallSegmentId: $(ddlsource).val(), async: false }, function (data) {

                var items = '';

                $("#SeatId").empty();
                $.each(data, function (i, seatList) {
                    items += "<option value='" + seatList.value + "'>" + seatList.text + "</option>";
                });
                $('#SeatId').html(items);
            });
        });
    });
</script>