@model IEnumerable<mrs.ApplicationCore.Entities.SeatReservation>

@{
    ViewData["Title"] = "MojeRezervacije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MojeRezervacije</h2>

<table class="table">
    <thead>
        <tr>
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Screening.Projection.ProjectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screening.ScreenStartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screening.CultureObjecsHall.HallName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screening.CultureObjecsHall.CultureObject.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screening.Projection.ProjectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screening.ScreenStartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screening.CultureObjecsHall.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screening.CultureObjecsHall.CultureObject.Name)
            </td>
            <td>
                <a asp-area="" asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.Id">Otkazi</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="form-group">
    <a asp-area="" asp-controller="Home" asp-action="LoggedIn">Nazad</a>
</div>
<br />
<div class="form-group">
    <a asp-area="" asp-controller="Home" asp-action="Logout">Odjava</a>
</div>
