@model mrs.ViewModels.CultureObjectsHome.CinemasViewModel

@{
    ViewData["Title"] = "Cinemas";
}

<h2>
    @ViewData["object"]
</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 Name
            </th>
            <th>
                 Address
            </th>
            <th>
                 PromoDescription
            </th>
            <th>
                 Remark
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromoDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.ActionLink("Projections", "Projections","CultureObjectsHome",item.Id) |
            </td>
        </tr>
}
    </tbody>
</table>
